:root{
    --valor_columna: 8.333333333%;
}
.container{
    max-width: 900px;
    margin: auto;

}

.row{
    display: flex;
    padding: 5% 10%;
}
.col-1{
    width: var(--valor_columna)
}
.col-2{
    width: calc(var(--valor_columna) * 2);
}
.col-3{
    width: calc(var(--valor_columna) * 3);
}
.col-4{
    width: calc(var(--valor_columna) * 4);
}
.col-5{
    width: calc(var(--valor_columna) * 5);
}
.col-6{
    width: calc(var(--valor_columna) * 6);
}
.col-7{
    width: calc(var(--valor_columna) * 7);
}
.col-8{
    width: calc(var(--valor_columna) * 8);
}
.col-9{
    width: calc(var(--valor_columna) * 9);
}
.col-10{
    width: calc(var(--valor_columna) * 10);
}
.col-11{
    width: calc(var(--valor_columna) * 11);
}
.col-12{
    width: 100%;
}
[class*="col-"]{
    padding: 10px;

}
.col-3 img{
    width: 100%;

}

.col-7 {
    margin: 5%;

}
.col-7 p{
    padding-top: 1%;
}
.no-desk{
    display: none;
  }

  @media (max-width:600px) {
    .container{
      padding: 30px;
    }
    .no-mobile{
      display: none
    }
    .no-desk{
      display: initial;
    }
    .row{
      display: inline;
      padding: 10px;
    }
    .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
      width: 100%;
      padding: 0px;
    }
  }