:root{
    --valor_columna: 6.66666666;
}
.container{
    max-width: 1024;
    height: auto;
}
.row{
    display: flex;
    padding: 20px 20px;
}    
.col-1{
    width: var(--valor_columna)
}
.col-2{
    width: calc(var(--valor_columna) * 2);
}
.col-3{
    width: calc(var(--valor_columna) * 3);
}
.col-4{
    width: calc(var(--valor_columna) * 4);
}
.col-5{
    width: calc(var(--valor_columna) * 5);
}
.col-6{
    width: calc(var(--valor_columna) * 6);
}
.col-7{
    width: calc(var(--valor_columna) * 7);
}
.col-8{
    width: calc(var(--valor_columna) * 8);
}
.col-9{
    width: calc(var(--valor_columna) * 9);
}
.col-10{
    width: calc(var(--valor_columna) * 10);
}
.col-11{
    width: calc(var(--valor_columna) * 11);
}
.col-12{
    width: calc(var(--valor_columna) * 12);
}
.col-13{
    width: calc(var(--valor_columna) * 13);
}
.col-14{
    width: calc(var(--valor_columna) * 14);
}
.col-15{
    width: 100%;
}
[class*="col-"]{
    padding: 10px;

}